*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  font-family: $font;
  font-size: 16px;
  color: $first;
  background: $second;
}
ul{
  list-style: none;
}
.container{
  width: 90%;
  margin: auto
}