@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none; 
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

ul {
  list-style: none; 
}
.box-6{
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;
  transition: all .8s ease;
  animation: zoom .8s ease;
}
@keyframes zoom{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
.container {
  width: 90%;
  margin: auto; 
  transition: all .8s ease;
}
.page{
  min-height: 100vh;
  display: flex;
  grid-column: span 9;
  transition: all .8s ease;
  overflow-x: hidden;
}
.page-dark{
  color: var(--first);
  background: var(--second);
}
.subtitle {
  grid-column: span 12;
  text-align: left; 
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
#root{
  width: 100%;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
}
@media(max-width:1024px){
  .page{
    grid-column: span 12;
    padding-bottom: 25px;
  }
}
@media(max-width:800px){
  .page{
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 80px;
  }
}