.menu-bar{
  /* grid-column: span 3; */
  width: 25%;
  position: fixed;
  bottom:0px;
  right:0;
  height: 100vh;
  padding: 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-bar.light-bar{
  background: #f9f9f9;
  border-left: 1px solid #f9f9f9;
}
.menu-bar.light-bar .primera-fila .my-name{
  color: var(--third);
}
.menu-bar.dark-bar{
  background: rgb(25, 25, 34);
  border-left: 1px solid rgb(50, 50, 61);
}
.menu-bar.dark-bar .primera-fila .my-name{
  color: var(--first);
}
.primera-fila{
  padding: 0px 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.my-name{
  width: 100%;
  margin: 5px 0px;
}
/*BTN's mode*/
.btn-mode{
  background: #343d5b;
  border-radius: 1000px;
  border:none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  transition: all .8s ease;
}
.btn-mode span{
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}
.btn-mode::after{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top:0;
  left:0;
  right: unset;
  border-radius: 100px;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
  transition: all .8s ease;
}
.dark-mode.active{
  background: orange;
  color:#fff;
}
.btn-mode.active::after{
  left:unset;
  right:0;
}
.my-name .span-dev{
  color: var(--primary);
}
.options-menu .option{
  padding: 7px 15px;
  border-left: 4px solid transparent;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  transition: all .8s ease;
}
/*----------*/
.menu-bar.dark-bar .options-menu .option:hover,
.menu-bar.dark-bar .options-menu .option:focus{
  border-color: var(--primary);
  
}
.menu-bar.dark-bar .options-menu .option:hover a,
.menu-bar.dark-bar .options-menu .option:focus a{
  color: var(--primary);
}
.menu-bar.dark-bar .options-menu .option.selected{
  border-color: var(--primary);
}
.menu-bar.dark-bar .options-menu .option.selected a{
  color: var(--primary);
}

.menu-bar.light-bar .options-menu .option:hover,
.menu-bar.light-bar .options-menu .option:focus{
  border-color: var(--primary);
  
}
.menu-bar.light-bar .options-menu .option:hover a,
.menu-bar.light-bar .options-menu .option:focus a{
  color: var(--primary);
}
.menu-bar.light-bar .options-menu .option.selected{
  border-color: var(--primary);
}
.menu-bar.light-bar .options-menu .option.selected a{
  color: var(--primary);
}
/*---------------------*/
.options-menu .option a{
  text-transform: uppercase;
  transition: all .8s ease;
}
.menu-bar.dark-bar .options-menu .option a{
  color: var(--first);
}
.menu-bar.light-bar .options-menu .option a{
  color: var(--third);
}
.social-networks{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.social-networks li{
  font-size: 24px;
  font-weight: 700;
  transition: all .8s ease;
}
.social-networks li a{
  color: var(--primary);
  transition: all .8s ease;
}
.menu-bar.dark-bar .social-networks li:hover a,
.menu-bar.dark-bar .social-networks li:hover,
.menu-bar.dark-bar .social-networks li:focus a{
  color: var(--first);
  transform: scale(1.125);
}
.menu-bar.light-bar .social-networks li:hover a,
.menu-bar.light-bar .social-networks li:hover,
.menu-bar.light-bar .social-networks li:focus a{
  color: var(--second);
  transform: scale(1.125);
}
@media(max-width:1024px){
  .menu-bar{
    width: 100%;
    height: auto;
    padding: 0px;
  }
  .menu-bar .primera-fila{
    position: absolute;
    top: 15px;
  }
  .menu-bar .primera-fila .btn-mode{
    transform: rotateZ(90deg);
  }
  .my-name{
    display: none;
  }
  .social-networks{
    display: none;
  }
  .options-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .options-menu .option{
    display: flex;
    flex-direction: column;
    border: none;
    border-left: 0px solid transparent;
    border-top: 4px solid transparent;
    padding-top: 20px 15px;
    margin: 0px 5px;
    margin-bottom: 0px;
    font-size: 20px;
    text-align: center;
  }  
  .options-menu .option:hover,
  .options-menu .option:focus{
    border-left: 0px solid transparent;
    border-color: var(--primary);
    
  }
  .options-menu .option.selected{
    border-top: 4px solid var(--primary);
  }
  .options-menu .option span{
    margin-top: 5px;
    display: block;
    font-size: 10px;
    font-weight: 300;
  }
}